
html{

    background-image: url(https://i.scdn.co/image/ab67616d0000b273854b29c623bfaecc58770acf
    );
    background-color: #cccccc;
  
   
}

.HEADER1{
 


  
  background: #71797E;
  padding: 30px;
  border: 2px solid black;

  
}

body{   margin: 0;
background-image: url(https://i.scdn.co/image/ab67616d0000b273854b29c623bfaecc58770acf
  );
background-color: #cccccc;
;border: 10px;
text-align: center;
}


.banner{

  text-align: center;
  size: 10px;
  font: bold;
}


.textBox {
    text-align: left;
    border: 1px solid black;
    padding: 30px;
    text-size-adjust: calc(100% +30px)
    
  }
  h2 {
    text-align: right;
    size: 10px;
  }
  .textBox :first-child {
    padding:30px 0;
    padding-left: 30px;
    width: calc(100% + 30px);
    margin: -30px -30px 0 -30px;
    background-color: #71797E;
    color: black;
  }
  .H1Links {
    text-align: right;
    size: 10px;}


.player {
  width: calc(100%-25px);

}

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/ 
  height: 40px;
  background: #71797E;
}
.Links {
  text-align: right;
  color: blue;
  size: 10px
}