

html{
    background-color: #333333;
}

body{   margin: 0;
background: grey;border: 10px;
text-align: center;
}


.banner{

  text-align: center;
}


.textBox {
    text-align: left;
    border: 5px solid black;
    padding: 30px;
  }
  .H1Links {
    text-align: right;
    size: 10px;
  }
  .textBox :first-child {
    padding:30px 0;
    padding-left: 30px;
    width: calc(100% + 30px);
    margin: -30px -30px 0 -30px;
    background-color: #5c5c5c;
    color: black;
  }
.player {
  width: calc(100%-25px);

}

footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/ 
  height: 40px;
  background: grey;
}
.H1Links {
  text-align: right;
  size: 10px;
}