

html{
    background-color: #333333;
}

body{   margin: 0;
background: grey;border: 10px;
text-align: left;
}

.textBox {
    border: 1px solid black;
    padding: 15px;
  }
  
  .textBox :first-child {
    padding: 5px 0;
    padding-left: 15px;
    width: calc(100% + 15px);
    margin: -15px -15px 0 -15px;
    background-color: black;
    color: white;
  }
