

html{
    background-color: #333333;
}

body{   margin: 0;
background: grey;border: 10px;
text-align: center;
}


.banner{

  text-align: center;
}


.textBox {
    text-align: left;
    border: 5px solid black;
    padding: 30px;
  }
  
  .textBox :first-child {
    padding: 5px 0;
    padding-left: 15px;
    width: calc(100% + 15px);
    margin: -15px -15px 0 -15px;
    background-color: #624a2e;
    color: black;
  }
.player {
  width: calc(100%-25px);

}

.bottomBox {
  text-align: left;
  border: 1px solid black;
  padding: 15px;
}

.bottomBox :first-child {
  padding: 5px 0;
  padding-left: 15px;
  width: calc(100% + 15px);
  margin: -15px -15px 0 -15px;
  background-color:black;
  color: white;
}

